<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground</title>
</head>
<body>
    <h1>Campground show</h1>
    <h3><a href="/campgrounds">All</a></h3>
    <h2><%= campground.title %></h2>
    <h3><%= campground.location %></h3>
    <h3><a href="/campgrounds/<%= campground._id%>/edit">Edit</a></h3>
</body>
</html>